.coin-selector {
    padding-top: 0;
}

.rw-dropdown-list {
    border: inset !important;
    border-top-style: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rw-state-focus {
    border-color: #ffffff !important;
}

.rw-widget-picker {
    border-color: #ffffff !important;
}