.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 99999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: white;
    border-top-style: none;
    margin-left: 10px;
    background: rgb(142 142 142);
    background: linear-gradient(0deg, rgb(142 142 142) 0%, rgb(255 255 255) 100%);
}

.navbar-logo {
    text-align: center;
    align-self: center;
}

.navbar-container {
    display: grid;
    grid-auto-columns: 260px 65px 65px 120px 65px 65px 250px 50%;
    grid-template-areas: "a a a a a a a a";
}
.navbar-container h1 {
    color: white;
}

.grid-selector {
    padding-top: 0;
    padding-left: 15px;
}