.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: rgb(160,170,170);
    background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(119 109 109) 100%);
}

.navbar-logo {
    text-align: center;
    align-self: center;
}

.navbar-container {
    display: grid;
    grid-auto-columns: 58% 5% 5% 5% 5% 7% 15%;
    grid-template-areas: "a a a a a a a";
}
.navbar-container h1 {
    color: white;
}

.navbar-container button {
    margin: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: large;
}

.grid-selector {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}