.ticker-detail {
    margin: 10px;
    display: grid;
    color: white;
    border-radius: 20px;
    grid-template-columns: 30% 70%;
}

.crypto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14% 86%;
}

.rank {
    display: grid;
    align-content: center;
    grid-template-columns: 44% 40% 15%;
    border-radius: 0 20px 0 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.rank h1 {
    align-self: center;
}

.title {
    display: grid;
    text-align: center;
    align-content: center;
    border-radius: 20px 0 0 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.low-high {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
}

.row {
    align-self: center;
    border-radius: 20px;
    margin: 10px;
    font-size: 1vw;
    font-weight: bold;
}

.chart-7d {
    height: 70%;
    padding: 10px;
}

.image {
    display: grid;
    text-align: center;
    grid-template-rows: 14% 86%;
}

.image img {
    width: 40%;
    border-radius: 50px;
}

.exchange {
    align-self: center;
}

.exchange-connected {
    width: 40%;
    height: 40%;
}

.exchange-disconnected {
    width: 40%;
    height: 40%;
}

.current-price {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    text-align: center;
}

.header-text {
    font-size: 1.5vw;
    font-weight: bold;
    align-self: center;
}

.tooltip {
    font-size: 20px !important;
}

.menu {
    position: relative;
}

.menu-offset-top {
    top: 3em;
}

.menu-offset-bottom {
    bottom: 3em;
}

.menu img {
    width: 18%;
    transition: .5s ease;
    background-color: white;
}

.menu-item:hover {
    width: 20%;
}

.menu-item-gap {
    margin-right: 10%;
}

.loading {
    left: 45%;
    top: 40%;
}

.data {
    display: flex;
    flex-flow: column;
    border-bottom-right-radius: 20px;
}

.spacer {
    height: 20px;
}

.space-right {
    padding-right: 10px;
}

.space-top {
    margin-top: 12px;
}

.orange {
    color: orange;
}

.black {
    color: black;
}

.green {
    color: #00ff00;
}

.red {
    color: #ffdc00;
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out-slight {
    animation: fadeOutSlight ease .5s;
    -webkit-animation: fadeOutSlight ease .5s;
    -moz-animation: fadeOutSlight ease .5s;
    -o-animation: fadeOutSlight ease .5s;
    -ms-animation: fadeOutSlight ease .5s;
}

@keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-moz-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-webkit-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-o-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-ms-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}