.grid-view-1x1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 95%;
    grid-template-columns: repeat(1, 100%);
}

.grid-view-2x2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 48%;
    grid-template-columns: repeat(2, 50%);
}

.grid-view-2x3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 32%;
    grid-template-columns: repeat(2, 50%);
}

.grid-view-3x3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 32%;
    grid-template-columns: repeat(3, 33.33%);
}