.ticker-detail {
    margin: 10px;
    display: grid;
    color: white;
    border-radius: 20px;
    grid-template-columns: 30% 70%;
}

.crypto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

.rank {
    display: grid;
    grid-template-columns: 44% 40% 15%;
    border-radius: 0 20px 0 0;
}

.title {
    text-align: center;
    border-radius: 20px 0 0 0;
}

.low-high {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 50%;
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
}

.low-high h1, h2, h3, h4, h5, h6 {
    margin: 5px;
}

.chart-7d {
    height: 200px;
    padding: 10px;
}

.image {
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
}

.image img {
    width: 40%;
    border-radius: 50px;
}

.exchange {
    align-self: center;
}

.exchange-connected {
    width: 50%;
    height: 50%;
}

.exchange-disconnected {
    width: 50%;
    height: 50%;
}

.current-price {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    text-align: center;
}

.tooltip {
    font-size: 20px !important;
}

.menu {
    position: relative;
}

.menu-offset-top {
    top: 3em;
}

.menu-offset-bottom {
    bottom: 3em;
}

.menu img {
    width: 20%;
    transition: .5s ease;
    background-color: white;
}

.menu-item:hover {
    width: 22%;
}

.menu-item-gap {
    margin-right: 10%;
}

.loading {
    left: 45%;
    top: 40%;
}

.data {
    display: grid;
    grid-template-rows: 71% 29%;
}

.spacer {
    height: 20px;
}

.space-right {
    padding-right: 10px;
}

.space-top {
    margin-top: 12px;
}

.orange {
    color: orange;
}

.black {
    color: black;
}

.green {
    color: green;
}

.red {
    color: red;
}


.fade-in {
     animation: fadeIn ease .5s;
     -webkit-animation: fadeIn ease .5s;
     -moz-animation: fadeIn ease .5s;
     -o-animation: fadeIn ease .5s;
     -ms-animation: fadeIn ease .5s;
 }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out-slight {
    animation: fadeOutSlight ease .5s;
    -webkit-animation: fadeOutSlight ease .5s;
    -moz-animation: fadeOutSlight ease .5s;
    -o-animation: fadeOutSlight ease .5s;
    -ms-animation: fadeOutSlight ease .5s;
}

@keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-moz-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-webkit-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-o-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}

@-ms-keyframes fadeOutSlight {
    0% {opacity:1;}
    100% {opacity:0.2;}
}